*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: auto;
  height: 85px;
  line-height: 85px;
  margin: 0px 40px;
}

main{
  width: auto;
  height: ;
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 25px;
  overflow: hidden;
}

.up{
  display: flex;
}
.water{

}